#include <winver.h>

IDI_ICON1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,1,0,0
PRODUCTVERSION  0,1,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904B0"
        BEGIN
            VALUE "CompanyName",      "MVideo Bootcamp Team\0"
            VALUE "FileDescription",  "MVideo Smart Search\0"
            VALUE "FileVersion",      "0.1.0.0\0"
            VALUE "InternalName",     "MvSearch\0"
            VALUE "LegalCopyright",   "Copyright (C) 2026 MVideo Bootcamp Team\0"
            VALUE "OriginalFilename", "MvSearch.exe\0"
            VALUE "ProductName",      "MVideo Smart Search\0"
            VALUE "ProductVersion",   "0.1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
